#main{
  background-color: rgba(205, 255, 212, 0.47);
  width: 1280px;
  height: 800px;
}
html{
  scroll-behavior: smooth;
}
p{
  margin: 0;
}
body{
  margin: 0;
}
.nav-bar{
  display: flex;
}
.content{
  margin-top: 65px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}
.text-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
  font-family: 'Montserrat', sans-serif;
 
}
.image-content{
  display: flex;
  width: 500px;
  height: 600px;
justify-content: center;

}
.text-intro{
 font-weight: bold;
 
}
.text-name{
  margin-bottom: 80px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 50px;
}
.first-name{
  color: rgb(248, 125, 36);
}
.text-hobbies{
  font-weight: 600;
  margin-bottom: 40px;
}
.text-phrase{
  font-weight: 600;
  margin-bottom: 40px;
}
.buttons{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  

}
.button-cv{
  padding: 15px 20px;
border: none;
border-radius: 6px;
background-color: rgb(36, 82, 248) ;
color: white;
margin-right: 40px;
font-family: 'Lato', sans-serif;
font-weight: bold;
transition: opacity 0.3s;
cursor: pointer;
}
.button-cv:hover{
  opacity: 0.7;
}
.button-mail{
  padding: 15px 20px;
border: none;
background-color: rgb(224, 224, 224);
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  cursor: pointer;

transition: border, color, background-color 1s ;
}
.button-mail:hover{
  border:none;
  color: white;
  background-color: black;
}

#about{
  width: 1280px;
  height: 800px;
  position: relative;
}
.about-content{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.about-image{
background-color: lightpink;
width: 450px;

}
.about-photo{
width: 450px;
height: 500px;
object-fit: contain;
object-position:center
}
.text-container{
  position: absolute;
background-color: lightblue;
}


#skills{
  width: 1280px;
  height: 800px;
  background-color: lightblue;
}
#links{
  width: 1280px;
  height: 800px;
  background-color: lightpink;
}